.Empty {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  position: absolute;
}
.Empty .cont {
  height: 50px;
  width: 50px;
  background-color: lightblue;
}
.Empty .cont svg {
  height: 50px;
  width: 50px;
}

