.system-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 80%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
.system-info div {
  font-size: 16px;
  padding: 10px;
}
.system-info div:first-child {
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}
.gradient-test {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: inline-block;
  margin: 0 10px;
}
.translucent-alert {
  position: fixed;
  width: 200px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-left: -100px;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  -webkit-backdrop-filter: blur(20px) saturate(150%) brightness(100%);
}
@keyframes Pulse {
  0% {
    background: #f44336;
  }
  10% {
    background: #e91e63;
  }
  20% {
    background: #9c27b0;
  }
  30% {
    background: #673ab7;
  }
  40% {
    background: #2196f3;
  }
  50% {
    background: #00bcd4;
  }
  60% {
    background: #4caf50;
  }
  70% {
    background: #ffeb3b;
  }
  80% {
    background: #ff9800;
  }
  90% {
    background: #ff5722;
  }
  100% {
    background: #f44336;
  }
}
.welcome-layout {
  background: #F3F3F3;
  position: absolute;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: space-around;
  flex-direction: row;
  height: 100%;
  top: 0;
  left: 0;
}
.welcome-layout--inner {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0 3px 10px #EAEAEA;
  padding: 20px !important;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .welcome-layout--inner {
    padding: 24px 12px !important;
    border-left: none;
    border-right: none;
  }
}
.welcome-layout.dark-theme .welcome-layout--inner {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-color: black;
}
.welcome-layout.dark-theme .Card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-color: black;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .welcome-layout {
    padding: 0 !important;
  }
}
.App {
  transition: opacity 0.1s linear;
}
.Advogrand {
  font-family: "ProximaNove", sans-serif;
  margin: 0 auto;
  min-width: 840px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  transition: opacity 0.5s linear;
}
.Advogrand div,
button {
  font-family: "ProximaNove", sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.Advogrand button {
  border: none;
  background-color: transparent;
}
@font-face {
  font-family: "ProximaNove";
  font-weight: 300;
  font-style: normal;
  src: url(./2/assets/fonts/ProximaNova-Light.eot);
  src: url(./2/assets/fonts/ProximaNova-Light.woff) format('woff');
  src: url(./2/assets/fonts/ProximaNova-Light.ttf) format('truetype');
}
@font-face {
  font-family: "ProximaNove";
  font-weight: normal;
  font-style: normal;
  src: url(./2/assets/fonts/ProximaNova-Regular.eot);
  src: url(./2/assets/fonts/ProximaNova-Regular.woff) format('woff');
  src: url(./2/assets/fonts/ProximaNova-Regular.ttf) format('truetype');
}
@font-face {
  font-family: "ProximaNove";
  font-weight: 800;
  font-style: normal;
  src: url(./2/assets/fonts/ProximaNova-Extrabold.eot);
  src: url(./2/assets/fonts/ProximaNova-Extrabold.woff) format('woff');
  src: url(./2/assets/fonts/ProximaNova-Extrabold.ttf) format('truetype');
}
@font-face {
  font-family: "ProximaNove";
  font-weight: bold;
  font-style: normal;
  src: url(./2/assets/fonts/ProximaNova-Bold.eot);
  src: url(./2/assets/fonts/ProximaNova-Bold.woff) format('woff');
  src: url(./2/assets/fonts/ProximaNova-Bold.ttf) format('truetype');
}

.advogrand-b1 {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.advogrand-b1_firstLine {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.advogrand-b1_firstLine_menu {
  width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advogrand-b1_firstLine_menu--phone {
  margin-right: 30px;
  font-size: 14px;
  font-weight: bold;
}
.advogrand-b1_firstLine_menu--button {
  display: flex;
  font-size: 14px;
  font-weight: 300;
  color: #1c1c1c;
  cursor: pointer;
}
.advogrand-b1_firstLine_menu--button_recall {
  width: 140px;
  height: 30px;
  border-radius: 5px;
  background-image: linear-gradient(to top, #c11717, #e42626);
  color: white;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.advogrand-b1_line {
  height: 1px;
  border-bottom: 1px solid #f4f4f4;
}
.advogrand-b1_secondLine {
  display: flex;
  width: 940px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.advogrand-b1_secondLine--logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.advogrand-b1_secondLine--logo_picture {
  width: 35px;
  height: 40px;
}
.advogrand-b1_secondLine--logo_title {
  margin-left: 10px;
  font-weight: bold;
  font-size: 30px;
  cursor: default;
}
.advogrand-b1_secondLine--text {
  font-size: 14px;
  font-weight: 300;
}
.advogrand-b1_secondLine--right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.advogrand-b1_secondLine--right_phone {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}
.advogrand-b1_secondLine--right_pictureBorder {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: solid 1px #e42626 !important;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}
.advogrand-b1_secondLine--right_pictureBorder--picture {
  height: 20px;
  width: 20px;
}

.Advogrand-b2 {
  max-width: 100%;
  height: 610px;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Advogrand-b2_content {
  width: 940px;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.Advogrand-b2_content--firstBlock {
  width: 468px;
  font-size: 32px;
  line-height: 1.56 !important;
  font-weight: bold;
}
.Advogrand-b2_content--secondBlock {
  width: 385px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.33 !important;
}
.Advogrand-b2_content--button {
  width: 299px;
  height: 65px;
  border-radius: 5px;
  background-image: linear-gradient(to top, #c10b0b, #e42626);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.Advogrand-b3 {
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Advogrand-b3_content {
  width: 940px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Advogrand-b3_content--title {
  font-size: 30px;
  font-weight: bold;
}
.Advogrand-b3_content--pics {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.Advogrand-b3_content--pics_items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.Advogrand_block_3_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  color: #1c1c1c;
}
.Advogrand_block_3_item:hover {
  color: #e61010 !important;
}
.Advogrand_block_3_item--pic {
  height: 45px;
  width: 45px;
}
.Advogrand_block_3_item--pic svg {
  fill: #c20c0c;
  width: inherit;
  height: inherit;
}
.Advogrand_block_3_item--description {
  margin-left: 25px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38 !important;
  letter-spacing: 0.16px !important;
}
.Advogrand_block_3_item img {
  width: inherit;
  height: inherit;
}

.Advogrand-b4 {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: white;
}
.Advogrand-b4_title {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.3px !important;
}
.Advogrand-b4_description {
  width: 843px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25 !important;
  letter-spacing: 0.16px !important;
  text-align: center;
}
.Advogrand-b4_data {
  width: 840px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Advogrand-b4_data--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Advogrand-b4_data--item_digit {
  font-size: 48px;
  font-weight: bold;
}
.Advogrand-b4_data--item_text {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.16px !important;
}

.Advogrand-b5 {
  height: 500px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.Advogrand-b5_title {
  font-size: 30px;
  font-weight: bold;
}
.Advogrand-b5_raw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 840px;
}
.Advogrand-b5_raw--item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 175px;
}
.Advogrand-b5_raw--item_pic {
  width: 130px !important;
  height: 90px;
  margin-bottom: 55px;
}
.Advogrand-b5_raw--item_pic svg {
  width: inherit;
  height: inherit;
}
.Advogrand-b5_raw--item_description {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}
.Advogrand-b5 svg {
  width: inherit;
  height: inherit;
}

.Advogrand-b6 {
  height: 640px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.Advogrand-b6_title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.Advogrand-b6_table {
  display: flex;
  align-items: flex-end;
}
.Advogrand-b6_table--column_1 {
  height: 255px;
  width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  font-size: 13px;
  font-weight: 300;
  line-height: 3.46;
  letter-spacing: 0.13px;
  margin-right: 30px;
}
.Advogrand-b6_table--column_2 {
  height: 300px;
  width: 210px;
  color: white;
  box-shadow: 0px 10px 10px 0 rgba(38, 184, 58, 0.2);
  background-color: #26b83a;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 13px;
  font-weight: 300;
}
.Advogrand-b6_table--column_3 {
  height: 300px;
  width: 210px;
  border: solid 1px #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 13px;
  font-weight: 300;
}
.Advogrand-b6_table--column_4 {
  height: 300px;
  width: 300px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.Advogrand-b6_table--column_4--item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Advogrand-b6_table--column_4--item_pic {
  height: 25px;
  width: 25px;
  background-size: cover;
}
.Advogrand-b6_table--column_4--item_text {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 300;
}
.Advogrand-b6_table--column_4--button {
  height: 65px;
  width: 100%;
  border-radius: 5px;
  background-image: linear-gradient(to top, #c11717, #e42626);
  font-size: 18px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Advogrand-b7 {
  height: 470px;
  width: 100%;
  background-size: cover;
}
.Advogrand-b7_content {
  height: 470px;
  display: flex;
  width: 940px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.Advogrand-b7_content--left {
  color: white;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
.Advogrand-b7_content--left_title {
  font-size: 30px;
  font-weight: bold;
}
.Advogrand-b7_content--left_list {
  width: 500px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline-start: 0;
}
.Advogrand-b7_content--left_list--item {
  display: flex;
}
.Advogrand-b7_content--left_list--item_digit {
  font-size: 18px;
  font-weight: 500;
  color: #e41e1e;
}
.Advogrand-b7_content--left_list--item_text {
  font-size: 18px;
  font-weight: 300;
  margin-left: 20px;
}
.Advogrand-b7_content--right {
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Advogrand-b7_content--right_item {
  height: 72px;
  width: 209px;
  background-size: cover;
  cursor: pointer;
  background-color: transparent !important;
}
.Advogrand-b7_content--right_item img {
  height: 100%;
  width: 100%;
}

.Advogrand-b8 {
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f5f5;
}
.Advogrand-b8_title {
  font-size: 30px;
  font-weight: bold;
}
.Advogrand-b8_category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 650px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.Advogrand-b8_category--item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border: none;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: uppercase;
}
.Advogrand-b8_category--item:hover {
  color: #e50000;
}
.Advogrand-b8_category--item_active {
  padding: 8px;
  border-radius: 5px;
  border: solid 2px #e42626 !important;
  color: #e42626;
}
.Advogrand-b8_videoRaw {
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Advogrand-b8_videoRaw .slick-dots {
  position: initial;
}
.Advogrand-b8_videoRaw .slick-dots li button:before {
  font-size: 20px;
}
.Advogrand-b8_videoRaw .slick-prev {
  top: 35%;
  -webkit-transform: none;
  transform: none;
  left: -95px;
}
.Advogrand-b8_videoRaw .slick-prev::before {
  color: #cccccc;
  font-size: 50px;
  content: '\FFE9';
}
.Advogrand-b8_videoRaw .slick-prev:hover:before {
  color: #e42626;
}
.Advogrand-b8_videoRaw .slick-next {
  top: 35%;
  right: -70px;
  -webkit-transform: none;
  transform: none;
}
.Advogrand-b8_videoRaw .slick-next::before {
  color: #cccccc;
  font-size: 50px;
  content: '\FFEB';
}
.Advogrand-b8_videoRaw .slick-next:hover:before {
  color: #e42626;
}
.Advogrand-b8_videoRaw .slick-list {
  height: 260px;
}

.Advogrand-b8_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  height: 260px;
  margin-right: 20px;
}
.Advogrand-b8_item--video {
  height: 210px;
  width: 100%;
  background-color: #313131;
  cursor: pointer;
  position: relative;
}
.Advogrand-b8_item--video_playIcon {
  position: absolute;
  width: 27px;
  height: 26px;
  background-size: cover;
  bottom: 20px;
  left: 20px;
}
.Advogrand-b8_item--description {
  font-size: 13px;
  font-weight: 300;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
}
.Advogrand-b8_item--description:hover {
  color: #e42626;
  text-decoration: underline;
}

.Advogrand-b9 {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.Advogrand-b9_title {
  font-size: 30px;
  font-weight: bold;
}
.Advogrand-b9_slider {
  display: flex;
  width: 940px;
  justify-content: space-between;
  align-items: center;
}

.Advogrand-b9_item {
  cursor: pointer;
  position: relative;
  width: 220px;
  height: 140px;
}
.Advogrand-b9_item-hover {
  position: relative;
  transition: opacity 0.3s;
}
.Advogrand-b9_item-hover:hover .Advogrand-b9_item-hover__no-hover {
  opacity: 0;
  transition: opacity 0.3s;
}
.Advogrand-b9_item-hover:hover .Advogrand-b9_item-hover__hover {
  opacity: 1;
  transition: opacity 0.3s;
}
.Advogrand-b9_item-hover__hover {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.Advogrand-b9_item-hover__no-hover {
  opacity: 1;
  transition: opacity 1s;
}
.Advogrand-b9_item--picture {
  position: absolute;
  width: 220px;
  height: 140px;
  background-size: contain;
}
.Advogrand-b9_item--description {
  position: absolute;
  background-color: #26b83a;
  width: 220px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 10px 10px 0 rgba(38, 184, 58, 0.2);
}
.Advogrand-b9_item--description_text {
  font-size: 12px;
  font-weight: 300;
  color: white;
  padding-left: 17px;
  padding-right: 17px;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.Advogrand-b10 {
  height: 1430px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}
.Advogrand-b10_content {
  width: 940px;
  display: flex;
  flex-direction: column;
}
.Advogrand-b10_content--title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 100px;
}
.Advogrand-b10_content--description {
  font-size: 18px;
  font-weight: bold;
  margin-top: 40px;
}
.Advogrand-b10_content--takeCard {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.Advogrand-b10_content--takeCard_left {
  font-size: 16px;
  font-weight: 300;
  padding: 10px;
  padding-left: 0px;
}
.Advogrand-b10_content--takeCard_right {
  width: 255px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 4px;
}
.Advogrand-b10_content--takeCard_right--item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.Advogrand-b10_content--takeCard_right--item_active {
  padding: 8px;
  border-radius: 5px;
  border: solid 2px #e42626;
  color: #e42626;
  cursor: pointer;
}
.Advogrand-b10_content--cards {
  margin-top: 40px;
  display: flex;
}

.Advogrand-b10_item {
  width: 310px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
}
.Advogrand-b10_item--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 100%;
}
.Advogrand-b10_item--content-up {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.Advogrand-b10_item--content-up_title {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 300;
}
.Advogrand-b10_item--content-up_picture {
  width: 200px;
  height: 126px;
  background-size: contain;
  margin-top: 30px;
}
.Advogrand-b10_item--content-up_services {
  width: 90%;
  margin-top: 30px;
  border-top: solid 1px #f5f5f5;
}
.Advogrand-b10_item--content-down {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 30px;
}
.Advogrand-b10_item--content-down_cost-text {
  font-size: 13px;
  font-weight: 300;
}
.Advogrand-b10_item--content-down_cost-digit {
  margin-top: 14px;
  font-size: 24px;
  font-weight: bold;
}
.Advogrand-b10_item--content-down_buttons {
  margin-top: 30px;
}
.Advogrand-b10_item--content-down_buttons-consult {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  width: 200px;
  height: 55px;
  border-radius: 5px;
  cursor: pointer;
}
.Advogrand-b10_item--content-down_buttons-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  width: 200px;
  height: 55px;
  border-radius: 5px;
  background-image: linear-gradient(to top, #9a9a9a, #9a9a9a);
  margin-bottom: 50px;
  cursor: pointer;
}

.Advogrand-b10_item_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #f5f5f5;
}
.Advogrand-b10_item_list--service {
  padding-top: 12px;
  padding-bottom: 12px;
}
.Advogrand-b10_item_list--service_content {
  font-size: 11px;
  font-weight: 300;
  padding-left: 10px;
  max-width: 185px;
  text-align: left;
}
.Advogrand-b10_item_list--time {
  font-size: 11px;
  font-weight: 500;
  padding-right: 10px;
}

.Advogrand-b11 {
  display: flex;
  height: 630px;
  justify-content: center;
  position: relative;
}
.Advogrand-b11_backgroundLeft {
  background-color: #f5f5f5;
  width: 47%;
  height: 100%;
}
.Advogrand-b11_backgroundRight {
  height: 100%;
  width: 53%;
}
.Advogrand-b11_content {
  width: 940px;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Advogrand-b11_content--left {
  width: 320px;
}
.Advogrand-b11_content--left_title {
  font-size: 18px;
  font-weight: bold;
}
.Advogrand-b11_content--left_name {
  margin-top: 30px;
}
.Advogrand-b11_content--left_name-text {
  font-size: 14px;
  font-weight: 300;
}
.Advogrand-b11_content--left_name-form {
  margin-top: 10px;
  width: 300px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: solid 1px #dddddd;
}
.Advogrand-b11_content--left_name-form:focus {
  outline: none;
}
.Advogrand-b11_content--left_phone {
  margin-top: 20px;
}
.Advogrand-b11_content--left_phone-text {
  font-size: 14px;
  font-weight: 300;
}
.Advogrand-b11_content--left_phone-form {
  margin-top: 10px;
  width: 300px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: solid 1px #dddddd;
}
.Advogrand-b11_content--left_phone-form:focus {
  outline: none;
}
.Advogrand-b11_content--left_message {
  margin-top: 20px;
}
.Advogrand-b11_content--left_message-text {
  font-size: 14px;
  font-weight: 300;
}
.Advogrand-b11_content--left_message-form {
  margin-top: 10px;
  width: 300px;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #dddddd;
}
.Advogrand-b11_content--left_message-form:focus {
  outline: none;
}
.Advogrand-b11_content--left_button {
  width: 100%;
  height: 65px;
  border-radius: 5px;
  background-image: linear-gradient(to top, #cc0000, #d00000);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
}
.Advogrand-b11_content--left_recall {
  font-size: 13px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 17px;
}
.Advogrand-b11_content--right {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
}
.Advogrand-b11_content--right_title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 100px;
}
.Advogrand-b11_content--right_phone {
  margin-top: 50px;
}
.Advogrand-b11_content--right_phone-text {
  font-size: 13px;
  font-weight: 700;
}
.Advogrand-b11_content--right_phone-number {
  margin-top: 15px;
  font-size: 17px;
  font-weight: bold;
}
.Advogrand-b11_content--right_email {
  margin-top: 30px;
}
.Advogrand-b11_content--right_email-text {
  font-size: 13px;
  font-weight: 700;
}
.Advogrand-b11_content--right_email-mail {
  margin-top: 15px;
  font-size: 17px;
  text-decoration: underline;
}
.Advogrand-b11_content--right_time {
  margin-top: 30px;
}
.Advogrand-b11_content--right_time-text {
  font-size: 13px;
  font-weight: 700;
}
.Advogrand-b11_content--right_time-work {
  margin-top: 15px;
  font-size: 17px;
}

.Advogrand-b12 {
  height: 135px;
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
}
.Advogrand-b12_content {
  width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Advogrand-b12_content--logo {
  width: 190px;
  height: 40px;
  background-size: cover;
}

