.system-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 80%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
.system-info div {
  font-size: 16px;
  padding: 10px;
}
.system-info div:first-child {
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}
.gradient-test {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: inline-block;
  margin: 0 10px;
}
.translucent-alert {
  position: fixed;
  width: 200px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-left: -100px;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  -webkit-backdrop-filter: blur(20px) saturate(150%) brightness(100%);
}
@keyframes Pulse {
  0% {
    background: #f44336;
  }
  10% {
    background: #e91e63;
  }
  20% {
    background: #9c27b0;
  }
  30% {
    background: #673ab7;
  }
  40% {
    background: #2196f3;
  }
  50% {
    background: #00bcd4;
  }
  60% {
    background: #4caf50;
  }
  70% {
    background: #ffeb3b;
  }
  80% {
    background: #ff9800;
  }
  90% {
    background: #ff5722;
  }
  100% {
    background: #f44336;
  }
}
.welcome-layout {
  background: #F3F3F3;
  position: absolute;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: space-around;
  flex-direction: row;
  height: 100%;
  top: 0;
  left: 0;
}
.welcome-layout--inner {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0 3px 10px #EAEAEA;
  padding: 20px !important;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .welcome-layout--inner {
    padding: 24px 12px !important;
    border-left: none;
    border-right: none;
  }
}
.welcome-layout.dark-theme .welcome-layout--inner {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-color: black;
}
.welcome-layout.dark-theme .Card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-color: black;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .welcome-layout {
    padding: 0 !important;
  }
}
.App {
  transition: opacity 0.1s linear;
}
.bodyShop {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  min-width: 1000px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  transition: opacity 0.5s linear;
}
@font-face {
  font-family: "Lato";
  font-weight: 300;
  src: url(./2/assets/fonts/Lato-Light.ttf);
}
@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url(./2/assets/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato";
  font-weight: 500;
  src: url(./2/assets/fonts/Lato-Semibold.ttf);
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url(./2/assets/fonts/Lato-Bold.ttf);
}

.bodyShop-b1 {
  background-size: cover;
  min-width: 920px;
  height: 790px;
}
.bodyShop-b1_topBar {
  display: flex;
  padding-top: 12px;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to bottom, #1e1e1e 0%, rgba(231, 56, 39, 0) 100%);
}
.bodyShop-b1_topBar-left {
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5a5a5a;
  cursor: default;
}
.bodyShop-b1_topBar-right--phone {
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}
.bodyShop-b1_topBar-right--text {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #d91233;
  text-decoration: underline;
  cursor: pointer;
}
.bodyShop-b1_title {
  padding-top: 100px;
  color: white;
  margin: 0 auto;
  width: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bodyShop-b1_title--firstLine {
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 48px;
  line-height: 1.53;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.bodyShop-b1_title--secondLine {
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: center;
}
.bodyShop-b1_icons {
  margin: 0 auto;
  padding-top: 90px;
  display: flex;
  width: 630px;
  justify-content: space-between;
}
.bodyShop-b1_buttons {
  width: 520px;
  margin: 0 auto;
  margin-top: 95px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.bodyShop-b1_buttons--left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bodyShop-b1_buttons--left_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
  border-radius: 25px;
  background-color: #d91233;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  cursor: pointer;
}
.bodyShop-b1_buttons--left_text {
  padding-top: 13px;
  width: 155px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.bodyShop-b1_buttons--right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bodyShop-b1_buttons--right_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
  border: solid 2px #d91233;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  cursor: pointer;
}
.bodyShop-b1_buttons--right_text {
  padding-top: 13px;
  width: 155px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.bodyShop-b1_item {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bodyShop-b1_item--picture {
  background-repeat: no-repeat;
  background-position: center;
  height: 64px;
  width: 62px;
}
.bodyShop-b1_item--description {
  margin-top: 27px;
  width: 165px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.bodyShop-b2 {
  height: 590px;
  display: flex;
  justify-content: center;
}
.bodyShop-b2_content {
  width: 970px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bodyShop-b2_content--firstLine {
  width: 100%;
  padding-top: 77px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-around;
  flex-direction: row;
}
.bodyShop-b2_content--secondLine {
  padding-top: 77px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-evenly;
  flex-direction: row;
  width: 74%;
}

.bodyShop-b2_item {
  display: flex;
  color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bodyShop-b2_item--picture {
  background-repeat: no-repeat;
  background-position: center;
  height: 64px;
  width: 62px;
}
.bodyShop-b2_item--title {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
}
.bodyShop-b2_item--description {
  margin-top: 14px;
  width: 242px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.bodyShop-b3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ebebeb;
  height: 623px;
}
.bodyShop-b3--title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}
.bodyShop-b3--description {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: normal;
  margin-top: 22px;
}
.bodyShop-b3--form {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  width: 940px;
  height: 340px;
  border: solid 5px #ffffff;
}
.bodyShop-b3--form_column {
  width: 240px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.bodyShop-b3--form_column--input {
  display: flex;
  flex-direction: column;
}
.bodyShop-b3--form_column--input_title {
  font-size: 13px;
  font-weight: normal;
}
.bodyShop-b3--form_column--input_selector {
  margin-top: 8px;
  position: relative;
  display: flex;
  width: 240px;
  height: 40px;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
}
.bodyShop-b3--form_column--input_selector::after {
  content: '\25BC';
  color: #e8e8e8;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
  border-left: solid 1px #e8e8e8;
}
.bodyShop-b3--form_column--input_selector select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  flex: 1;
  padding: 0 1em;
  cursor: pointer;
}
.bodyShop-b3--form_column--input_selector select option {
  border-bottom: solid 1px #e8e8e8;
  color: black;
}
.bodyShop-b3--form_column--input_selector select option:disabled {
  color: #b8b8b8;
}
.bodyShop-b3--form_column--input_text {
  background-color: #ffffff;
  margin-top: 8px;
  cursor: text;
  font-size: 13px;
  font-weight: normal;
  color: black;
  padding-left: 17px;
  padding-right: 17px;
  border: none;
  font-family: "Lato";
}
.bodyShop-b3--form_column--input_text::placeholder {
  color: #b8b8b8;
}
.bodyShop-b3--form_column--input_textArea {
  margin-top: 8px;
  border: none;
  font-size: 13px;
  font-weight: normal;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 10px;
  font-family: "Lato";
}
.bodyShop-b3--form_column--input_textArea::placeholder {
  color: #b8b8b8;
  font-size: 13px;
}
.bodyShop-b3--form_column--input_textArea:focus {
  outline: none;
}
.bodyShop-b3--form_column--button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 240px;
  height: 50px;
  border-radius: 25px;
  background-color: #d91233;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.bodyShop-b4 {
  height: 1125px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bodyShop-b4_text {
  font-size: 30px;
  font-weight: bold;
}
.bodyShop-b4_icons {
  width: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bodyShop-b4_icons-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.bodyShop-b4_videoBorder {
  margin-top: 60px;
  width: 820px;
  height: 430px;
  border: solid 5px #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyShop-b4_videoBorder-content {
  width: 780px;
  height: 390px;
  background-color: #3b3b3b;
}

.bodyShop-b4_item {
  display: flex;
  color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bodyShop-b4_item--picture {
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
  width: 140px;
  -webkit-filter: grayscale(100%);
  transition-duration: 0.2s;
}
.bodyShop-b4_item--picture:hover {
  -webkit-filter: grayscale(0%);
}

.bodyShop-b5 {
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ebebeb;
}
.bodyShop-b5_title {
  font-size: 30px;
  font-weight: bold;
}
.bodyShop-b5_reviews {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bodyShop-b5_item {
  display: flex;
  color: black;
  align-items: flex-start;
  justify-content: center;
  margin-top: 60px;
  height: 125px;
}
.bodyShop-b5_item--picture {
  background-repeat: no-repeat;
  background-position: center;
  height: 90px;
  width: 90px;
}
.bodyShop-b5_item_content {
  display: flex;
  flex-direction: column;
  width: 330px;
  margin-left: 20px;
}
.bodyShop-b5_item_content--name {
  font-size: 12px;
  font-weight: bold;
  color: #757575;
}
.bodyShop-b5_item_content--title {
  font-size: 16px;
  font-weight: bold;
  color: #d91233;
  margin-top: 5px;
}
.bodyShop-b5_item_content--description {
  margin-top: 5px;
  font-size: 13px;
  font-weight: bold;
  color: #2b2b2b;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bodyShop-b6 {
  height: 560px;
  background-color: #dbdbdb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bodyShop-b6_text1 {
  font-size: 30px;
  font-weight: bold;
}
.bodyShop-b6_text2 {
  font-size: 16px;
  margin-top: 20px;
}
.bodyShop-b6_form {
  width: 740px;
  height: 280px;
  border: solid 5px #ffffff;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bodyShop-b6_form--name_text {
  font-size: 13px;
}
.bodyShop-b6_form--name_input {
  margin-top: 10px;
  width: 256px;
  height: 45px;
  background-color: #ffffff;
  padding-left: 17px;
  padding-right: 17px;
  border: none;
  font-family: "Lato";
}
.bodyShop-b6_form--name_input::placeholder {
  color: #b8b8b8;
}
.bodyShop-b6_form--name_input:focus {
  outline: none;
}
.bodyShop-b6_form--button {
  margin-top: 35px;
  width: 300px;
  height: 50px;
  border-radius: 25px;
  background-color: #d91233;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.bodyShop-b6_form--button:focus {
  outline: 0;
}

.bodyShop-b7 {
  height: 550px;
  display: flex;
  justify-content: center;
}
.bodyShop-b7_contacts {
  margin-top: 50px;
  width: 480px;
  height: 290px;
  background-color: #d91233;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}
.bodyShop-b7_contacts--text {
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
}
.bodyShop-b7_contacts--address {
  font-size: 20px;
  font-weight: normal;
  margin-top: 30px;
}
.bodyShop-b7_contacts--phone {
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
}
.bodyShop-b7_contacts--email {
  font-size: 20px;
  font-weight: normal;
  text-decoration: underline;
  margin-top: 20px;
}

