.system-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 80%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
.system-info div {
  font-size: 16px;
  padding: 10px;
}
.system-info div:first-child {
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}
.AppHeader-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -1;
}
.gradient-test {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: inline-block;
  margin: 0 10px;
}
.translucent-alert {
  position: fixed;
  width: 200px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-left: -100px;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  -webkit-backdrop-filter: blur(20px) saturate(150%) brightness(100%);
}
@keyframes Pulse {
  0% {
    background: #f44336;
  }
  10% {
    background: #e91e63;
  }
  20% {
    background: #9c27b0;
  }
  30% {
    background: #673ab7;
  }
  40% {
    background: #2196f3;
  }
  50% {
    background: #00bcd4;
  }
  60% {
    background: #4caf50;
  }
  70% {
    background: #ffeb3b;
  }
  80% {
    background: #ff9800;
  }
  90% {
    background: #ff5722;
  }
  100% {
    background: #f44336;
  }
}
.welcome-layout {
  background: #F3F3F3;
  position: absolute;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: space-around;
  flex-direction: row;
  height: 100%;
  top: 0;
  left: 0;
}
.welcome-layout--inner {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0 3px 10px #EAEAEA;
  padding: 20px !important;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .welcome-layout--inner {
    padding: 24px 12px !important;
    border-left: none;
    border-right: none;
  }
}
.welcome-layout.dark-theme .welcome-layout--inner {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-color: black;
}
.welcome-layout.dark-theme .Card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-color: black;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .welcome-layout {
    padding: 0 !important;
  }
}
.App {
  transition: opacity 0.1s linear;
}
.Binary {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  transition: opacity 0.5s linear;
}

.system-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 80%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
.system-info div {
  font-size: 16px;
  padding: 10px;
}
.system-info div:first-child {
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}
.AppHeader-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -1;
}
.gradient-test {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: inline-block;
  margin: 0 10px;
}
.translucent-alert {
  position: fixed;
  width: 200px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-left: -100px;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  -webkit-backdrop-filter: blur(20px) saturate(150%) brightness(100%);
}
@keyframes Pulse {
  0% {
    background: #f44336;
  }
  10% {
    background: #e91e63;
  }
  20% {
    background: #9c27b0;
  }
  30% {
    background: #673ab7;
  }
  40% {
    background: #2196f3;
  }
  50% {
    background: #00bcd4;
  }
  60% {
    background: #4caf50;
  }
  70% {
    background: #ffeb3b;
  }
  80% {
    background: #ff9800;
  }
  90% {
    background: #ff5722;
  }
  100% {
    background: #f44336;
  }
}
.welcome-layout {
  background: #F3F3F3;
  position: absolute;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: space-around;
  flex-direction: row;
  height: 100%;
  top: 0;
  left: 0;
}
.welcome-layout--inner {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0 3px 10px #EAEAEA;
  padding: 20px !important;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .welcome-layout--inner {
    padding: 24px 12px !important;
    border-left: none;
    border-right: none;
  }
}
.welcome-layout.dark-theme .welcome-layout--inner {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-color: black;
}
.welcome-layout.dark-theme .Card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-color: black;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .welcome-layout {
    padding: 0 !important;
  }
}
.App {
  transition: opacity 0.1s linear;
}
.Binary-b1 {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.Binary-b1__logo {
  width: 195px;
  height: 123px;
  position: relative;
}
.Binary-b1__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 182px;
  height: 47px;
  border: 1px solid #fff;
  background-color: Transparent;
  color: #fff;
}
.Binary-b1__button:hover {
  cursor: pointer;
}
.Binary-b1__button::after {
  content: '';
  position: absolute;
  border: solid #fff;
  border-width: 0 5px 5px 0;
  box-shadow: 5px 5px 3px rgba(13, 0, 0, 0.2);
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  bottom: -75px;
  left: calc(50% - 10px);
  animation: arrow 2000ms linear infinite;
}
.Binary-b1__button::after:hover {
  cursor: pointer;
}
@media (max-width: 375px) {
  .Binary-b1 {
    justify-content: flex-start;
  }
  .Binary-b1__button::after {
    bottom: -50px;
  }
  .Binary-b1 .Binary-textBlock {
    color: white;
    margin-top: 15%;
    margin-bottom: 15%;
  }
  .Binary-b1 .Binary-textBlock__title {
    font-size: 1.5em;
  }
  .Binary-b1 .Binary-textBlock__subtitle {
    font-size: 1em;
  }
  .Binary-b1__logo {
    margin-top: 10%;
  }
}
@keyframes arrow {
  0% {
    bottom: -40px;
  }
  50% {
    bottom: -75px;
  }
  100% {
    bottom: -40px;
  }
}

.Binary-textBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Binary-textBlock__title {
  font-size: 34px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: 5.44px;
  text-align: center;
  text-transform: uppercase;
}
.Binary-textBlock__subtitle {
  font-size: 26px;
  font-weight: normal;
  letter-spacing: 4.16px;
  text-align: center;
  padding-top: 10px;
}
.Binary-textBlock__line {
  width: 105px;
  height: 2px;
  background-color: #fff;
  margin-top: 50px;
}
.Binary-textBlock__text {
  margin-top: 35px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.86;
  text-align: center;
}

.system-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 80%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
.system-info div {
  font-size: 16px;
  padding: 10px;
}
.system-info div:first-child {
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}
.AppHeader-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -1;
}
.gradient-test {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: inline-block;
  margin: 0 10px;
}
.translucent-alert {
  position: fixed;
  width: 200px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-left: -100px;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  -webkit-backdrop-filter: blur(20px) saturate(150%) brightness(100%);
}
@keyframes Pulse {
  0% {
    background: #f44336;
  }
  10% {
    background: #e91e63;
  }
  20% {
    background: #9c27b0;
  }
  30% {
    background: #673ab7;
  }
  40% {
    background: #2196f3;
  }
  50% {
    background: #00bcd4;
  }
  60% {
    background: #4caf50;
  }
  70% {
    background: #ffeb3b;
  }
  80% {
    background: #ff9800;
  }
  90% {
    background: #ff5722;
  }
  100% {
    background: #f44336;
  }
}
.welcome-layout {
  background: #F3F3F3;
  position: absolute;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: space-around;
  flex-direction: row;
  height: 100%;
  top: 0;
  left: 0;
}
.welcome-layout--inner {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0 3px 10px #EAEAEA;
  padding: 20px !important;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .welcome-layout--inner {
    padding: 24px 12px !important;
    border-left: none;
    border-right: none;
  }
}
.welcome-layout.dark-theme .welcome-layout--inner {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-color: black;
}
.welcome-layout.dark-theme .Card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-color: black;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .welcome-layout {
    padding: 0 !important;
  }
}
.App {
  transition: opacity 0.1s linear;
}
.Binary-b2 {
  height: auto;
  background-color: #FFFFFF;
}
.Binary-b2 .Binary-textBlock {
  padding-top: 75px;
  color: black;
}
.Binary-b2 .Binary-textBlock__line {
  background-color: black;
}
.Binary-b2 .Binary-textBlock__text {
  max-width: 704px;
}
.Binary-b2__list {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 100px;
}
@media (max-width: 375px) {
  .Binary-b2 .Binary-textBlock {
    padding-top: 40px;
  }
  .Binary-b2 .Binary-textBlock__text {
    padding: 0 15px;
  }
  .Binary-b2__list {
    margin-top: 30px;
    flex-direction: column;
    padding-bottom: 30px;
  }
}

.system-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 80%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
.system-info div {
  font-size: 16px;
  padding: 10px;
}
.system-info div:first-child {
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}
.AppHeader-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -1;
}
.gradient-test {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: inline-block;
  margin: 0 10px;
}
.translucent-alert {
  position: fixed;
  width: 200px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-left: -100px;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  -webkit-backdrop-filter: blur(20px) saturate(150%) brightness(100%);
}
@keyframes Pulse {
  0% {
    background: #f44336;
  }
  10% {
    background: #e91e63;
  }
  20% {
    background: #9c27b0;
  }
  30% {
    background: #673ab7;
  }
  40% {
    background: #2196f3;
  }
  50% {
    background: #00bcd4;
  }
  60% {
    background: #4caf50;
  }
  70% {
    background: #ffeb3b;
  }
  80% {
    background: #ff9800;
  }
  90% {
    background: #ff5722;
  }
  100% {
    background: #f44336;
  }
}
.welcome-layout {
  background: #F3F3F3;
  position: absolute;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: space-around;
  flex-direction: row;
  height: 100%;
  top: 0;
  left: 0;
}
.welcome-layout--inner {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0 3px 10px #EAEAEA;
  padding: 20px !important;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .welcome-layout--inner {
    padding: 24px 12px !important;
    border-left: none;
    border-right: none;
  }
}
.welcome-layout.dark-theme .welcome-layout--inner {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-color: black;
}
.welcome-layout.dark-theme .Card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-color: black;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .welcome-layout {
    padding: 0 !important;
  }
}
.App {
  transition: opacity 0.1s linear;
}
.Binary-b2-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Binary-b2-item:nth-child(2) {
  margin: 0 100px;
}
.Binary-b2-item__logo {
  width: 92px;
  height: 92px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-size: initial;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.Binary-b2-item__title {
  margin: 40px 0;
  font-size: 22px;
  letter-spacing: 3.52px;
  text-transform: uppercase;
  color: black;
}
.Binary-b2-item__text {
  color: #868585;
  text-align: center;
  max-width: 290px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.86;
}
@media (max-width: 768px) {
  .Binary-b2-item:nth-child(2) {
    margin: 0 20px;
  }
}
@media (max-width: 375px) {
  .Binary-b2-item__logo {
    margin-top: 0;
  }
  .Binary-b2-item__title {
    margin: 15px;
  }
  .Binary-b2-item:nth-child(2) {
    margin: 30px 0;
  }
}

.system-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 80%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
.system-info div {
  font-size: 16px;
  padding: 10px;
}
.system-info div:first-child {
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}
.AppHeader-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -1;
}
.gradient-test {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: inline-block;
  margin: 0 10px;
}
.translucent-alert {
  position: fixed;
  width: 200px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-left: -100px;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  -webkit-backdrop-filter: blur(20px) saturate(150%) brightness(100%);
}
@keyframes Pulse {
  0% {
    background: #f44336;
  }
  10% {
    background: #e91e63;
  }
  20% {
    background: #9c27b0;
  }
  30% {
    background: #673ab7;
  }
  40% {
    background: #2196f3;
  }
  50% {
    background: #00bcd4;
  }
  60% {
    background: #4caf50;
  }
  70% {
    background: #ffeb3b;
  }
  80% {
    background: #ff9800;
  }
  90% {
    background: #ff5722;
  }
  100% {
    background: #f44336;
  }
}
.welcome-layout {
  background: #F3F3F3;
  position: absolute;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: space-around;
  flex-direction: row;
  height: 100%;
  top: 0;
  left: 0;
}
.welcome-layout--inner {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0 3px 10px #EAEAEA;
  padding: 20px !important;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .welcome-layout--inner {
    padding: 24px 12px !important;
    border-left: none;
    border-right: none;
  }
}
.welcome-layout.dark-theme .welcome-layout--inner {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-color: black;
}
.welcome-layout.dark-theme .Card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-color: black;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .welcome-layout {
    padding: 0 !important;
  }
}
.App {
  transition: opacity 0.1s linear;
}
.Binary-b3 {
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Binary-b3 .Binary-textBlock {
  padding-top: 85px;
}
.Binary-b3 .Binary-textBlock__title {
  color: black;
}
.Binary-b3 .Binary-textBlock__line {
  background-color: black;
}
.Binary-b3__menu {
  margin-top: 50px;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Binary-b3__menu-item {
  text-transform: uppercase;
  color: black;
  font-size: 15px;
  padding: 10px 15px;
  margin: 0 10px;
}
.Binary-b3__menu-item:nth-child(3) {
  margin-left: 15px;
}
.Binary-b3__menu-item:hover {
  color: #ada074;
  font-weight: bold;
  cursor: pointer;
}
.Binary-b3__list {
  margin-top: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1110px;
}
.Binary-b3__list-item {
  width: 540px;
  height: 365px;
  background-color: #eaeaea;
}
.Binary-b3__list-item:nth-child(odd) {
  margin: 0 15px 15px 0;
}
.Binary-b3__list-item:nth-child(even) {
  margin: 0 0 15px 15px;
}
.Binary-b3__button {
  margin: 50px 0;
  color: black;
  background-color: transparent;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 182px;
  height: 47px;
  font-size: 15.5px;
  letter-spacing: 0.93px;
}
.Binary-b3__button:hover {
  cursor: pointer;
}
@media (max-width: 1024px) {
  .Binary-b3 .Binary-b3__list-item {
    width: 45%;
    max-height: 305px;
  }
  .Binary-b3 .Binary-b3__list {
    margin-top: 50px;
  }
}
@media (max-width: 375px) {
  .Binary-b3 .Binary-b3__list-item {
    width: 90%;
  }
  .Binary-b3 .Binary-b3__list-item:not(:first-child) {
    margin: 15px 0 0 0;
  }
  .Binary-b3 .Binary-b3__list-item:first-child {
    margin: 0;
  }
  .Binary-b3 .Binary-b3__menu-item {
    padding: 10px 10px;
  }
}

.system-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 80%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
.system-info div {
  font-size: 16px;
  padding: 10px;
}
.system-info div:first-child {
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}
.AppHeader-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -1;
}
.gradient-test {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: inline-block;
  margin: 0 10px;
}
.translucent-alert {
  position: fixed;
  width: 200px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-left: -100px;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  -webkit-backdrop-filter: blur(20px) saturate(150%) brightness(100%);
}
@keyframes Pulse {
  0% {
    background: #f44336;
  }
  10% {
    background: #e91e63;
  }
  20% {
    background: #9c27b0;
  }
  30% {
    background: #673ab7;
  }
  40% {
    background: #2196f3;
  }
  50% {
    background: #00bcd4;
  }
  60% {
    background: #4caf50;
  }
  70% {
    background: #ffeb3b;
  }
  80% {
    background: #ff9800;
  }
  90% {
    background: #ff5722;
  }
  100% {
    background: #f44336;
  }
}
.welcome-layout {
  background: #F3F3F3;
  position: absolute;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: space-around;
  flex-direction: row;
  height: 100%;
  top: 0;
  left: 0;
}
.welcome-layout--inner {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0 3px 10px #EAEAEA;
  padding: 20px !important;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .welcome-layout--inner {
    padding: 24px 12px !important;
    border-left: none;
    border-right: none;
  }
}
.welcome-layout.dark-theme .welcome-layout--inner {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-color: black;
}
.welcome-layout.dark-theme .Card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-color: black;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .welcome-layout {
    padding: 0 !important;
  }
}
.App {
  transition: opacity 0.1s linear;
}
.Binary-b4 {
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.Binary-b4__title {
  font-size: 30.5px;
  font-weight: 300;
  letter-spacing: 1.83px;
}
.Binary-b4__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Binary-b4__list-item {
  background-size: initial;
  background-position: center;
  background-repeat: no-repeat;
}
.Binary-b4__list-item:not(:first-child) {
  margin-left: 110px;
}
@media (max-width: 425px) {
  .Binary-b4__list {
    width: 100%;
    flex-wrap: wrap;
  }
  .Binary-b4__list-item {
    flex: 0 50%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .Binary-b4__list-item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
  .Binary-b4__list-item:not(:first-child) {
    margin-left: initial;
  }
}

.system-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 80%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
.system-info div {
  font-size: 16px;
  padding: 10px;
}
.system-info div:first-child {
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}
.AppHeader-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -1;
}
.gradient-test {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  display: inline-block;
  margin: 0 10px;
}
.translucent-alert {
  position: fixed;
  width: 200px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-left: -100px;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  -webkit-backdrop-filter: blur(20px) saturate(150%) brightness(100%);
}
@keyframes Pulse {
  0% {
    background: #f44336;
  }
  10% {
    background: #e91e63;
  }
  20% {
    background: #9c27b0;
  }
  30% {
    background: #673ab7;
  }
  40% {
    background: #2196f3;
  }
  50% {
    background: #00bcd4;
  }
  60% {
    background: #4caf50;
  }
  70% {
    background: #ffeb3b;
  }
  80% {
    background: #ff9800;
  }
  90% {
    background: #ff5722;
  }
  100% {
    background: #f44336;
  }
}
.welcome-layout {
  background: #F3F3F3;
  position: absolute;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: space-around;
  flex-direction: row;
  height: 100%;
  top: 0;
  left: 0;
}
.welcome-layout--inner {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0 3px 10px #EAEAEA;
  padding: 20px !important;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .welcome-layout--inner {
    padding: 24px 12px !important;
    border-left: none;
    border-right: none;
  }
}
.welcome-layout.dark-theme .welcome-layout--inner {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-color: black;
}
.welcome-layout.dark-theme .Card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  border-color: black;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .welcome-layout {
    padding: 0 !important;
  }
}
.App {
  transition: opacity 0.1s linear;
}
.Binary-b5 {
  height: auto;
  display: flex;
  flex-direction: column;
}
.Binary-b5 .Binary-textBlock {
  margin: 100px 0;
}
.Binary-b5 .Binary-textBlock__title {
  color: black;
}
.Binary-b5 .Binary-textBlock__line {
  background-color: black;
}
.Binary-b5 .container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: black;
  margin-bottom: 100px;
}
.Binary-b5__form--title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.84px;
}
.Binary-b5__form-line {
  display: flex;
  width: 380px;
  justify-content: space-between;
}
.Binary-b5__form-item {
  display: flex;
  flex-direction: column;
}
.Binary-b5__form-message {
  margin-top: 60px;
}
.Binary-b5__form-box {
  margin-top: 15px;
  width: 161px;
  height: 35px;
  background-color: #f8f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.Binary-b5__form-box--input {
  border: none;
  font-family: "Lato", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  height: calc(100% - 6px);
  width: calc(100% - 20px);
  background-color: #f8f7f7;
}
.Binary-b5__form-box--input:focus {
  outline: black auto 1px;
}
.Binary-b5__form-box::placeholder {
  font-size: 13px;
  color: #818181;
  text-transform: uppercase;
}
.Binary-b5__form-box::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 159px;
  border: 1px solid black;
  background-color: black;
}
.Binary-b5__form-messageBox {
  margin-top: 15px;
  max-width: 383px;
  width: 100%;
  height: 118px;
  background-color: #f8f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.Binary-b5__form-messageBox--input {
  border: none;
  font-family: "Lato", sans-serif;
  padding: 10px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  background-color: #f8f7f7;
  resize: none;
}
.Binary-b5__form-messageBox--input:focus {
  outline: black auto 1px;
}
.Binary-b5__form-messageBox::placeholder {
  font-size: 13px;
  color: #818181;
  text-transform: uppercase;
}
.Binary-b5__form-messageBox::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 2px);
  border: 1px solid black;
  background-color: black;
}
.Binary-b5__form-send {
  margin-top: 40px;
  text-transform: uppercase;
  padding: 10px;
  margin-right: -10px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.84px;
  float: right;
}
.Binary-b5__form-send:focus {
  outline: black auto 1px;
}
.Binary-b5__form-send:hover {
  cursor: pointer;
}
.Binary-b5__contact {
  margin-left: 80px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.86;
  text-align: left;
  color: #000000;
}
.Binary-b5__contact-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.86;
  text-align: left;
  color: #000000;
  margin-block-start: 0;
  margin-block-end: 0;
}
.Binary-b5__contact-text:first-line {
  line-height: 1;
}
.Binary-b5__contact-signature {
  margin-top: 30px;
  margin-bottom: 20px;
}
.Binary-b5__contact__line {
  display: flex;
  margin-bottom: 10px;
}
.Binary-b5__contact-icon {
  width: 29px;
  height: 29px;
  border: solid 2px #1e1e1e;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
}
.Binary-b5__contact-icon:hover {
  cursor: pointer;
}
.Binary-b5__contact-icon:last-child {
  margin-left: 12px;
}
.Binary-b5__contact-email a {
  color: #000000;
}
@media (max-width: 375px) {
  .Binary-b5 .Binary-textBlock {
    margin: 30px 0;
  }
  .Binary-b5__form-line {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 380px;
  }
  .Binary-b5__form-item:first-child {
    margin-bottom: 20px;
  }
  .Binary-b5__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .Binary-b5__form-send {
    margin-top: 20px;
  }
  .Binary-b5__form-message {
    margin-top: 20px;
    width: 90%;
  }
  .Binary-b5__form-messageBox {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .Binary-b5 .container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  .Binary-b5__contact {
    margin: 20px 0 30px 0;
  }
}

.Binary-b6 {
  height: 274px;
  background-color: #3c3c3c;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.Binary-b6__list {
  display: flex;
  font-size: 14px;
  color: #a4a4a4;
}
.Binary-b6__link {
  margin: 10px;
  padding: 2px;
}
.Binary-b6__link:hover {
  cursor: pointer;
}
.Binary-b6__copyright {
  color: #6c6c6c;
  font-size: 14px;
  margin-top: -10px;
}

.Binary-menu {
  height: 60px;
  width: 100%;
  box-shadow: 0.5px 0.9px 0 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
}
.Binary-menu_item {
  text-transform: uppercase;
  color: black;
  font-size: 15px;
  padding: 10px 15px;
  margin: 0 10px;
  text-align: center;
  border: none;
  background: transparent;
}
.Binary-menu_item:last-child {
  margin-right: -25px;
}
.Binary-menu_item:nth-child(3) {
  margin-left: 15px;
}
.Binary-menu_item:hover {
  color: #ada074;
  cursor: pointer;
}
@media (max-width: 425px) {
  .Binary-menu {
    display: none;
  }
}

